
obj
*.csproj.user
*.suo
*.cache
Thumbs.db

/temp/*

*.dll
!template/lib/*

# Ignore template zip files
*.zip

# Other useful stuff
*.bak
*.cache
*.log
*.swp
*.user

*.DS_Store

framework/Bin/*

node_modules/
